body {
  background-color: rgba(181, 205, 209, 0.15);
}


h1 {
  text-align: center;
  color: rgb(66, 80, 87);
  font-size: bold;
  padding: 5px 0px;
}

h3 {
  font-size: bold;
}
.img {
  text-align: center;
}

.second-container {
  margin-top : 80px;
}

.link {
  text-decoration: none !important;
}
