body {
  background-color: rgba(232, 242, 247, 0.3);
}


h1 {
  text-align: center;
  color: rgb(66, 80, 87);
  font-size: bold;
  padding: 5px 0px;
  margin: 30px 0px !important;
  font-size: 30px;
}

h3 {
  font-size: bold;
}
.img {
  text-align: center;
}

.container {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: rgb(128, 128, 128);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  margin-top: 100px;
}

.second-container {
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px gray solid;
  padding: 20px;
  margin-left: 0px;
  margin-bottom: 30px;
  margin-right: 0px;

}

.panel-body {
  padding: 20px;
}

.second-container p {
  margin-bottom: 0px !important;
}

.row.row-condensend {
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 24px;
  color: rgb(78, 78, 78);
}

.col-sm-9 {
  border: 1px rgba(128, 128, 128, 0.6) solid;
  padding: 10px 8px;
  border-radius: 3px;
}

.col-sm-3 {
  padding: 10px 8px;
}

.link {
  text-decoration: none !important;
}

#no-border {
  border: none !important;
}


input {
  width: 100%;
}

label {
  font-weight: normal !important;
}

textarea {
  width: 100%;
  max-width: 100%;
  border: none;
}

a {
  color: rgb(128, 128, 128) !important;
}

.bookings {
  padding: 10px;
}

.fas {
  padding: 15px 15px;
  font-size: 20px;
  color: rgb(255, 152, 17);
}

#stars {
  padding-left: 20px;
}

.search {
  vertical-align: middle;
  padding: 8px 8px;
}


