.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 10;
  padding: 0px 40px;
}


.card {
  height: 350px;
  border-radius: 1%;
  width: 300px;
  margin: 3px;
  box-shadow: 2px 2px 2px gray;
  opacity: 1;
  background-size: cover;
  border: 10px;
}

a {
  color: black !important;
  font-size: bold;
}

.card:hover {
  opacity: 0.6;
  z-index: 11;
  text-decoration: none !important;
  color: black;
}

.card-content {
  text-align :center;
  border-radius:1%;
  background-color:rgba(238, 220, 201, 0.1);
  display: block;
  height: 60px;
  width: 100%;
  position: relative;
}

.card .card-image {
  height: 250px;
  width: 100%;
  padding-right: 20px;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  background-size: cover;
  display:block;
  z-index: 10;
}

//  p {
//   font-size : 12px;
//   color:black !important;
//   margin-top: 0;
//   margin-bottom: 1rem;
// }

.card p {
  margin : 0px;
  padding: 10px;
}


h5 {
  font-size: 16px bold;
  color: black !important;
  text-align :center !important;
  margin: 0px !important;
  padding: 10px;
}



hr {
  margin: 0px;
}

.card-content h5 {
  font-size: 16px bold !important;
  position: absolute;
  bottom: 26px;
  text-align :center !important;
}

.card-content p {
  font-size: 12px;
  position: absolute;
  top: 30px;
}

.card-content span {
  position: absolute;
  top: 80px;
  right: 10px;
  font-size : 12px;
  color: #D7B836;
}

 .far.fa-heart {
    padding: 1rem;
    color: white ;
    text-align: right !important;
    z-index: 300;
    font-size: 24px;
  }






