.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 10;
  padding: 0px 80px;
}


.card {
  height: 350px;
  border-radius: 1%;
  width: 300px;
  margin: 3px;
  box-shadow: 2px 2px 2px gray;
  opacity: 1;
  background-size: cover;
  border: 10px;
  position: relative;
}

a {
  color: black !important;
  font-size: bold;
}

.card:hover {
  text-decoration: none !important;
  color: black;
  .card-image {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 38;
  }
  p.text-left {
    z-index: 40;
    color: white !important;
    font-weight: bold !important;
  }
  p.text-right {
    z-index: 40;
    color: white !important;
    font-weight: bold !important;
  }
  .card-content h5 {
    z-index: 40;
    color: white !important;
    font-weight: bold !important;
  }
}

.card-content {
  text-align :center;
  border-radius:1%;
  background-color:rgba(238, 220, 201, 0.1);
  display: block;
  height: 60px;
  width: 100%;
  z-index: 20;
}

.card-image {
  height: 250px;
  width: 100%;
  padding-right: 20px;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  background-size: cover;
  display: block;
  z-index: 10;
  position: absolute;
}

.card-content h5 {
  font-size: 16px bold !important;
  position: absolute;
  bottom: 50px;
  color: black !important;
  margin: 0px !important;
  padding: 10px;
  color: rgb(253, 251, 249);
}

p.text-left {
  position: absolute;
  bottom: 22px;
  left: 10px;
  font-size : 14px;
  color: black;
}

p.text-right {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size : 12px;
  color: #D7B836;
}

.far.fa-heart {
    padding: 1rem;
    color: white ;
    z-index: 300;
    font-size: 24px;
    &.heart-active {
      color: red ;
      opacity: 1;
      z-index: 300;
    }
  }







