<h1> Veuillez remplir une review </h1>

<div class="container">
  <div class="second-container">
    <h1> Veuillez créer une nouvelle review</h1>
    <%= simple_form_for [@flat, @booking, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Add a review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


